@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rakkas&display=swap");

.format,
.format {
  color: blue;
  border-top: outset 5px red;
  border-bottom: 5px groove green;
  border-left: 5px black dotted;
  border-right: 5px blue double;
  padding: 10px;
  margin: 20px;
}
.h1 {
  border-bottom: outset 5px darkgreen;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 200px;
}
div h3 sub,
div p small {
  color: darkred;
}
div > p {
  color: red;
}
.list {
  font-size: 25px;
}
div ol li {
  color: royalblue;
}

div > ol > li > u#item1 > .laptops > a {
  color: red;
  font-size: 14px;
}
.laptops {
  width: 120px;
  height: 25px;
}
div ol li u#item2 {
  color: orange;
}
div ol li u#item3 mark {
  color: green;
}
div > ol > li > button {
  background-color: black;
  color: white;
  padding: 10px 5px 10px 5px;
}
.hello {
  border: 3px red groove;
  width: 130px;
  padding: 10px 20px;
  margin-left: 50%;
}
.box {
  background-color: blue;
  width: 100px;
  height: 100px;
  border: 10px dashed red;
  margin: 0px;
}
.color {
  background-color: red;
  max-width: 100%;
  height: 200px;
}
.head2 {
  background-color: blue;
  width: 90%;
  height: 50%;
}

.container1 {
  border: green 2px double;
  height: fit-content;
}
.text {
  background-image: radial-gradient(
    circle 600px at top left,
    yellowgreen,
    transparent
  );

  width: fit-content;
  border: red 5px double;
  margin: 20px;
  padding: 20px;
  max-width: 100%;
  line-height: 70px;
}
.تحية {
  color: red;
  direction: rtl;
  /* تشتغل فقط مع العناصر ال لاblock  لجعل النص في النص او علي اليمين او اليسار  */
  text-align: center;
  /* لجعل كل حروف الكلمة كابيتال او سمول  uppercase - lowercase */
  text-transform: capitalize;
  letter-spacing: 5px;
  word-spacing: 10px;
  /* text-decoration-line: underline overline;
  text-decoration-color: black;
  text-decoration-style: wavy; */
  text-decoration: black underline overline double;
  text-shadow: 5px 5px 2px black;
  box-shadow: 10px;
}
a {
  text-decoration: none;
  font-size: 30px;
  font-style: italic;
  text-transform: capitalize;
  border: 2px red double;
  border-radius: 20px 10px 20px 10px;
  width: fit-content;
  padding: 15px;
  text-align: center;
  display: block;
  margin: auto;
  text-shadow: -10px -10px 5px black, 10px 10px 5px blue, 5px 5px 2.5px red;
  box-shadow: -10px -10px 5px 5px black, 10px 10px 5px blue, 5px 5px 2.5px red;
}
/* text shadow */
/* H-shadow  V-shadow Blur Color */
/* Box shadow */
/* H-shadow  V-shadow Blur Spreading الانتشار  Color Inset شكل الظل من جوه ولا من بره */
#test {
  font-size: 50px;
  font-weight: bold;
  border: red 2px double;
  max-width: 100%;
  margin: 10px;
  padding: 20px;
  /* word-wrap: break-word; */
  white-space: pre-wrap;
  white-space: pre-line;
  /* white-space: normal; */
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
  text-align: right;
}
.kero {
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
  text-decoration: underline overline 3px red;
  text-shadow: 20px 10px 2px white;
  border: 5px double red;
  padding: 30px;
  width: fit-content;
  margin: auto;
  background: blue;
  box-shadow: 10px 5px 5px 10px blue;
}
.fonts {
  /* 
  font = 
  1 - style
  2 - vareint
  3 - weight
  4 - color
  4 - size/line-height
  5 - family
  مش هيفرق الترتيب او لما اشيل اي خاصية المهم يكون فيه size و family بالترتيب علشان تشتغل خصائص الــ font */
  font: italic small-caps bold 60px/100px serif;
  color: red;
  text-decoration: line-through solid 2px black;
  border: double red 4px;
  width: fit-content;
  max-width: 100%;
  margin: 5px auto;
  padding: 20px;
  white-space: pre-wrap;
  text-align: center;
  text-shadow: 10px 10px 3px black;
  /* line-height: 150px; */
  box-shadow: 5px -5px 5px 5px black;
}
/* .background { */
/* color: red; */
/* background-color: yellowgreen;
  background-image: url(wallpaper.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 100px;
  background-origin: content-box; */
/* background-image: linear-gradient(to right, red, blue); */
/* background: linear-gradient(to right, red, blue) center/cover content-box
    local; */
/*Background Shorthand : 
  color = red;
  image = url(img.png);
  repeat = no-repeat Or repeat;
  position = center او  left او top او reight او bottom او اي اتجاه مركب  أو 10px  او 20px  / size = 100px او cover

  background-color
background-image
background-position
background-size
background-repeat
background-attachment
background-origin
background-clip


Property                    	Description
background	                  Sets all the background properties in one declaration
background-attachment	        Sets whether a background image is fixed or scrolls with the rest of the page
background-clip	              Specifies the painting area of the background
background-color	            Sets the background color of an element
background-image	            Sets the background image for an element
background-origin	            Specifies where the background image(s) is/are positioned
background-position          	Sets the starting position of a background image
background-repeat	            Sets how a background image will be repeated
background-size	              Specifies the size of the background image(s)
   */
/* } */
.background {
  font: italic bold 30px Pacifico;
  background-image: linear-gradient(
    180deg,
    rgb(209, 100, 100) 20%,
    rgb(233, 198, 132) 30% 70%,
    rgb(196, 233, 122) 80% 90%,
    transparent 95%
  );
  text-align: center;
  padding: 2px 20px;
}
.wallpaper {
  margin: 20px 50px;
  width: fit-content;
  font: oblique bold 50px/90px sans-serif;
  text-align: center;
  background-image: radial-gradient(
    circle 500px at top,
    rgb(141, 141, 255),
    rgb(240, 151, 151),
    rgb(98, 129, 98)
  );
}

.cbox {
  height: 300px;
  width: 300px;
  float: right;
}
.x {
  background-color: red;
}
.y {
  background-color: blue;
}
.z {
  background-color: green;
}
.textbox {
  background-color: yellow;
  color: black;
  font: 60px sans-serif;
  clear: both;
}

.overflow {
  overflow: auto;
  padding: 10px;
  font-size: 30px;
  margin: auto;
  width: 300px;
  height: 300px;
  border: dotted 5px;
  background-color: #ff0;
}
