p {
  color: green;
}
p.test,
div.two {
  font-size: 30px;
  color: tomato;
}
.one {
  font-size: 50px;
}
.two {
  font-weight: bold;
}

#three {
  color: rgb(255, 0, 0);
  font-size: 60px;
}

section h2 u {
  color: red;
}
.section {
  font-size: 40px;
}
div > h2 {
  font-style: italic;
}
section span strong {
  font-variant: small-caps;
}
div > span {
  font-size: 30px;
}

/* direct child */
div > ul {
  color: blue;
  font-size: 30px;
}
/* descendant selector  */
div ul li#li1 {
  color: red;
}
.li3 {
  font-family: sans-serif;
}
.box_model {
  border: dotted 2px blue;
  padding: 5px;
  
}
