@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");

p {
  color: black;
}
p.test,
div.two {
  font-size: 30px;
  color: tomato;
}
.one {
  font-size: 50px;
}
.two {
  font-weight: bold;
}

#three {
  color: rgb(255, 0, 0);
  font-size: 60px;
}

section h2 u {
  color: red;
}
.section {
  font-size: 40px;
}
div > h2 {
  font-style: italic;
}
section span strong {
  font-variant: small-caps;
}
div > span {
  font-size: 30px;
}

/* direct child */
div > ul {
  color: blue;
  font-size: 30px;
}
/* descendant selector  */
div ul li#li1 {
  color: red;
}
.li3 {
  font-family: sans-serif;
}
.box_model {
  border-left: solid 10px blue;
  border-top: dashed 5px red;
  border-bottom: double 5px red;
  border-right: none;
  padding: 15px 30px 20px 40px;
}
.box {
  height: 300px;
  background-color: red;
  width: 600px;
  /* ممكن استخدم الـــ margin-left , right : auto علشان اخلي المساحات الخارجية زي بعض  */
  /* margin-left: auto;
  margin-right: auto; */
  /* او ممكن استخدام margin : auto; كـــ shorthand */
  margin: 0 auto;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
.parent {
  height: 300px;
  width: 300px;
  background-color: blue;
  margin: auto;
}

.parent > .child {
  height: 50%;
  width: 50%;
  width: 200px;
  width: fit-content;
  background-color: red;
  color: black;
  padding: 15px 10px;
}
.fit-content,
.max-content,
.min-content {
  color: black;
  background-color: red;
}
.fit-content {
  width: fit-content;
}
.min-content {
  width: min-content;
}
.max-content {
  width: max-content;
}
.circle {
  margin: auto;
  background-color: red;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  text-transform: capitalize;
  max-width: 900px;
  max-height: 900px;
}
.circle-content {
  padding: 150px;
}
.block {
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  border: blue 5px double;
  border-radius: 10px 30px 10px 30px;
  padding: 20px;
}
.greetings {
  /* background-color: blue; */
  display: block;
  text-align: right;
  direction: rtl;
  text-transform: capitalize;
}
.text-font {
  font-family: "Noto Nastaliq Urdu", serif;
  direction: rtl;
  margin: auto;
  padding: 15px;
  text-align: center;
  box-shadow: 10px 10px 15px 15px green;
  font-size: 50px;
  text-shadow: 5px 5px 3px yellow;
  text-transform: capitalize;
  white-space: pre-wrap;
  border-radius: 20px 5px 20px 5px;
  border: black 5px dashed;
  width: fit-content;
  background-color: blue;
  text-decoration: underline red double;
}
a {
  text-decoration: none;
}
.texts p:nth-child(1) {
  font-weight: 900;
}
.texts p:nth-child(7) {
  font: italic small-caps bold 30px sans-serif;
}
body {
  background-color: #767;
  background-image: url(images/img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center; */
}
.background {
  background-image: url(images/no-repeat.jpg);
  border: 5px dashed black;
  height: 900px;
  width: 900px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin: auto;
}
.background-shorthand {
  border: 5px dotted red;
  height: 900px;
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue url(images/background-shorthand.webp) repeat-x center/contain
    content-box;
}
.gradient {
  margin: auto;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: radial-gradient(red, blue);
}
.linear {
  height: 600px;
  background-image: linear-gradient(
    to bottom right,
    rgb(214, 62, 62) 40%,
    yellow 50% 70%,
    transparent 80%
  );
}
.radial {
  height: 600px;
  background-image: radial-gradient(
    circle 600px at center,
    blue,
    green,
    red,
    yelloW
  );
}
.container {
  background: yellow;
}
.container .red:nth-child(1) {
  background: red;
  width: 150px;
  height: 150px;
}
.container .green:nth-child(2) {
  background: green;
  width: 150px;
  height: 150px;
}
.container .blue:nth-child(3) {
  background: blue;
  width: 150px;
  height: 150px;
}

.float {
  float: right;
}
.clear {
  clear: both;
}
.element {
  text-decoration: line-through double #0f0;
}
.relative {
  background: #ff0;
  height: 2000px;
  width: 300px;
}
.relative div {
  height: 50px;
  width: 50px;
}
.reed {
  background: #f00;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.bluee {
  background: #00f;
  position: relative;
  bottom: 10px;
  left: 10px;
}
.greeen {
  background: #0f0;
  position: sticky;
  top: 10px;
}
ul,
ol {
  text-align: center;
  font: bold 30px sans-serif;
  list-style-type: decimal;
  list-style-position: inside;
}
ul {
  list-style: lower-alpha;
  list-style-position: inside;
}
table{
  width: 100%;
  border-spacing: 0;
}
th{
 background: #ff00008c; 
 height: 40px;
}
td{
 background: #9e20208c; 
height: 20px;
text-align: center;
}
