@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");

p {
  color: black;
}
p.test,
div.two {
  font-size: 30px;
  color: tomato;
}
.one {
  font-size: 50px;
}
.two {
  font-weight: bold;
}

#three {
  color: rgb(255, 0, 0);
  font-size: 60px;
}

section h2 u {
  color: red;
}
.section {
  font-size: 40px;
}
div > h2 {
  font-style: italic;
}
section span strong {
  font-variant: small-caps;
}
div > span {
  font-size: 30px;
}

/* direct child */
div > ul {
  color: blue;
  font-size: 30px;
}
/* descendant selector  */
div ul li#li1 {
  color: red;
}
.li3 {
  font-family: sans-serif;
}
.box_model {
  border-left: solid 10px blue;
  border-top: dashed 5px red;
  border-bottom: double 5px red;
  border-right: none;
  padding: 15px 30px 20px 40px;
}
.box {
  height: 300px;
  background-color: red;
  width: 600px;
  /* ممكن استخدم الـــ margin-left , right : auto علشان اخلي المساحات الخارجية زي بعض  */
  /* margin-left: auto;
  margin-right: auto; */
  /* او ممكن استخدام margin : auto; كـــ shorthand */
  margin: 0 auto;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
.parent {
  height: 300px;
  width: 300px;
  background-color: blue;
  margin: auto;
}

.parent > .child {
  height: 50%;
  width: 50%;
  width: 200px;
  width: fit-content;
  background-color: red;
  color: black;
  padding: 15px 10px;
}
.fit-content,
.max-content,
.min-content {
  color: black;
  background-color: red;
}
.fit-content {
  width: fit-content;
}
.min-content {
  width: min-content;
}
.max-content {
  width: max-content;
}
.circle {
  margin: auto;
  background-color: red;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  text-transform: capitalize;
  max-width: 900px;
  max-height: 900px;
}
.circle-content {
  padding: 150px;
}
.block {
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  border: blue 5px double;
  border-radius: 10px 30px 10px 30px;
  padding: 20px;
}
.greetings {
  /* background-color: blue; */
  display: block;
  text-align: right;
  direction: rtl;
  text-transform: capitalize;
}
.text-font {
  font-family: "Noto Nastaliq Urdu", serif;
  direction: rtl;
  margin: auto;
  padding: 15px;
  text-align: center;
  box-shadow: 10px 10px 15px 15px green;
  font-size: 50px;
  text-shadow: 5px 5px 3px yellow;
  text-transform: capitalize;
  white-space: pre-wrap;
  border-radius: 20px 5px 20px 5px;
  border: black 5px dashed;
  width: fit-content;
  background-color: blue;
  text-decoration: underline red double;
  
}
a{
  text-decoration: none;
}
.texts p:nth-child(1) {
  font-weight: 900;
}
